// Colors

$gray: #9E9E9E;
$gray-light: #CCC;
$gray-dark: #333;

$white: #FFF;
$white-light: #F1F1F1;

$black: #000;
$black-light: #141414;

$red: #F44336;
$purple: #9C27B0;
$deep-purple: #673AB7;
$dark-blue: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cian: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$yellow: #FFEB3B;